* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper .header {
  text-align: center;
  padding: 9px 5px;
  background-color: #316B83;
  color: #D5BFBF;
}
.wrapper .main-login {
  text-align: center;
  margin: 10% auto;
}
.wrapper .main-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .main-login .error-msg {
  color: red;
  padding: 0;
  margin: 0px;
  font-size: 20px;
}
.wrapper .main-login p {
  margin: 3% 0;
  font-size: 30px;
  color: #6D8299;
}
.wrapper .main-login input {
  padding: 10px;
  font-size: 15px;
  color: grey;
  outline: none;
  border: 2px solid #6D8299;
  border-radius: 4px;
}
.wrapper .main-login button {
  width: 205px;
  padding: 10px;
  margin: 13px;
  cursor: pointer;
  font-size: larger;
  color: white;
  background-color: #A2CDCD;
  border-radius: 4px;
  border: 2px solid #63B4B8;
}
.wrapper .main-login button:hover {
  background-color: #63B4B8;
}

@media screen and (max-width: 660px) {
  .main-login form {
    height: 30vh;
  }
}
