<%- include('../partials/header')%>
<%- include('../partials/bootstrapHeader') %>

    <%studentCollection.forEach((collection) => {%>
        <h1>hello</h1>
    <%})%>
<%- include('../partials/footer')%>