@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@200&display=swap');

// variables
$dark-color: #6D8299;
$background-color : #A2CDCD;
$light-color: #63B4B8;
$text-color: #245569;

//function
@mixin  flex($direction) {
    display:flex;
    flex-direction: $direction;
    flex-wrap: wrap;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.wrapper{
    .header{
        text-align: center;
        padding:9px 5px;
        background-color: #316B83;
        color:#D5BFBF;
        font-family: 'Barlow', sans-serif;
    }
}
.error-msg{
            color:red;
            padding:0;
            margin:0px;
}
.success-msg{
    color:green;
    padding:0;
    margin:0px;
    font-size: 1rem;
}

.login-bg{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)) ,url("/img/login-bg.jpg");
    background-size: cover;
    width:100%;
    background-repeat: no-repeat;
}


.body-main{
    max-height: 500px;
    max-width:350px;
    margin:auto;
    margin-top:5%;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    background-color: #f5f5f5;
    margin-bottom: 7%;
    border-radius: 7px;
    box-shadow:0 3px 8px rgb(0 0 0 /0.2);

}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 7px;
    margin: auto;
    button{
            
            color:white;
            background-color: $background-color;
            border:2px solid $light-color;
            &:hover{
                background-color: $light-color;
            }
        }
    img{
        margin-bottom: -9%;
    }
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-container{
    margin-bottom:2%;
    .navbar{
        padding: 0.5% 9%;
        display: flex;
        justify-content: space-between;
    } 
    .nav-brand a{
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        cursor:pointer;
        color:#FFFFF2;
        text-decoration: none;
    }
    .nav-list{
        display: flex;
        padding: 0 3%;
        a{
            padding:0 5%;
            font-family: 'Barlow', sans-serif;
            font-size: 1.18rem;
            cursor: pointer;
            color:#ACACAF;
            text-decoration: none;
        }
    }
}

//navbar links
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    margin-left:8%;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .nav-link{
      background-color: #fff;
      outline:none;
      border:none;
  }
  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 5% auto;
  width: 50%;
  height:470px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    p{
        font-family:'Barlow', sans-serif;
        font-size: 2rem;
        color:rgb(73, 72, 72);
    }

input[type="text"]{
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="file"]{
    width:100%;
}
input[type="text"]:focus{
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 3%;
    width: 100%;
    height: 120%;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}



input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.home-wrapper{
    margin:3% 9%;
    
    p{
        font-family: 'Barlow', sans-serif;
        font-size: 1.3rem;
        span{
            color:$text-color;
        }
    }
    .books-container{
        margin:auto;
        @include flex(row);
        justify-content: center;
        .search{
            background-color: none;
            border:none;
        }
    }
    .form-books{
        margin:3% 1%;
        @include flex(column);
        justify-content: space-between;
    }

    .books-details{
        position: relative;
        height: 270px;
        width: 210px;
        border:1px solid #dadce0;
        padding:4% 16%;
        margin-right: 2%;
        text-align: center;
        border-radius: 4px;
        &:hover{
            box-shadow: 0 3px 8px rgb(0 0 0 /0.2);
        }
        p:first-child{
            font-family: 'Barlow', sans-serif;
            font-family: 'Barlow Condensed', sans-serif;

            padding-top:2%;
        }
        p:nth-child(2){
            font-family: 'Barlow Condensed', sans-serif;
            padding: -5% 0%;
        }

        .dropdown-toggle{
            position: absolute;
            top:3%;
            right:-24%;
            background-color: #fff;
            outline:none;
            border:none;
            color:#6c757d;
        }
        .issueBook{
            position: absolute;
            bottom: 0;
            right: 0.1%;
            width:100%;
            margin-top:5%;
            padding: 2%;
            font-size: 1rem;
            cursor: pointer;
            background-color: $light-color;
            color:white;
            outline:none;
            border:none;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius : 4px;
        }
    }
}

.book-display{
    p,h2{
        font-family: 'Barlow', sans-serif;
    }
}

.similar-section{
    p{
        font-family: 'Barlow', sans-serif;
        color:rgb(82, 81, 81)
    }
}
@media screen and(max-width:660px) {
    .form-signin{
        height: 70vh;
    }
    .addBooks-container{
        max-width:83%;
        text-align: center;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-60%, -70%);
       form{
           button{
               width:100%;
           }
       }
    }
}

